@import './variables.css';

:root {
    --color-text: var(--color-gray-light);
    --color-text-active: var(--color-blue);
    --color-text-accent: var(--color-red);
    --color-background: var(--color-dark);
    --color-background-second: var(--color-dark-black);
    --color-background-prime: var(--color-dark-gray);
    --color-background-accent: var(--color-black);
    --color-border: var(--color-black);
    --color-border-contrast: var(--color-gray-light);
}

.theme_light {
    --color-text: var(--color-dark-gray);
    --color-text-active: var(--color-blue);
    --color-text-accent: var(--color-red-light);
    --color-background: var(--color-white);
    --color-background-second: var(--color-light-white);
    --color-background-prime: var(--color-light);
    --color-background-accent: var(--color-light-gray);
    --color-border: var(--color-light-gray-medium);
    --color-border-contrast: var(--color-gray-light);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
}

a {
    color: var(--color-text-active);
    text-decoration: none;
}

a:hover {
    color: var(--color-text-accent);
}

a[href^=http]::after {
    content: '⇧';
    font-size: 0.5em;
    display: inline-block;
    transform: rotate(45deg) scaleY(1.5);
    vertical-align: super;
    line-height: 0;
    margin-left: 2px;
}

p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

h2, h3 {
    padding: 8px 0;
}

pre {
    white-space: pre-wrap;
    margin: 1em 0;
    padding: 16px;
    padding-top: 0;
    border-radius: 4px;
    box-shadow: inset 0 0 .5em rgba(0,0,0,.3);
    font-size: .9em;
    font-family: 'Menlo', 'Courier New', Courier, monospace;
}

code {
    border-radius: 4px;
    padding: 1px 4px;
    margin: 0 2px;
    line-height: 13px;
    border: 1px solid var(--color-gray-dark);
}

table {
    border-collapse: collapse;
    border: 1px solid var(--color-border);
}

td, th {
    border: 1px solid var(--color-border);
    padding: 4px;
}

textarea {
    color: var(--color-text);
    background: var(--color-background);
    font-size: .9em;
    border: 1px solid var(--color-border);
    padding: 4px;
    min-height: 2em;
    min-width: 10em;
}
