:root {

    /* black */
    --color-black: #181a1f;

    /* dark */
    --color-dark: #292d34;
    --color-dark-black: #21252b;
    --color-dark-gray: #343942;

    /* light */
    --color-light-white: #fafafa;
    --color-light: #f1f3f5;
    --color-light-gray: #ebebec;
    --color-light-gray-medium: #e8e8e8;

    /* gray */
    --color-gray-light: #abb2be;
    --color-gray-light-medium: #9da5b3;
    --color-gray: #5c6370;
    --color-gray-dark: #4c5363;

    /* blue */
    --color-blue: #558efc;
    --color-blue-light: #598cef;
    --color-blue-dark: #507ac9;
    --color-blue-sky: #65b0ed;

    /* cyan */
    --color-cyan: #5bb6c1;

    /* red */
    --color-red: #bc514a;
    --color-red-light: #de6d77;

    /* green */
    --color-green-light: #99c27c;

    /* orange */
    --color-orange-light: #d0996a;

    /* yellow */
    --color-yellow-light: #e4bf7f;

    /* violet */
    --color-violet-light: #c57bdb;

    /* white */
    --color-white: #ffffff;

}
