{
    "plugins": [
        [
            "prismjs",
            {
                "languages": ["javascript", "css", "typescript"],
                "plugins": ["line-numbers"],
                "theme": "twilight",
                "css": false
            }
        ]
    ]
}
