body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #292d34;
  color: #abb2de;
}

.colors_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
  grid-gap: .5em;
  text-align: center;
}

.colors_grid > div {
  height: 100px;
  display: grid;
  grid-template-rows: 1fr auto;
}

.color_area {
  border-radius: 1em;
  /* border: solid 1px #abb2de; */
}

.color_name {
  font-size: 2em;
  position: relative;
  top: calc(50% - .5em);
}