.travels {
    padding: 15px;

    &__altai {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url("../../data/images/travels/altai/small/jlBr8nJ8c9.jpg")
                center/cover;
        color: white;
        font-size: 2em;
    }
}
