.catalog {
    ul {
        padding-left: .5em;
        margin-left: .5em;
        border-left: 1px dashed var(--color-border);
        list-style-type: none;
    }

    &__image {
        width: 16px;
        height: 16px;
        margin: 0 4px;
    }

    &__site {
        margin: .5em 0;
    }
}
