.book {
    & > div:first-child {
        padding-bottom: 16px;
    }

    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }
}
