@import '../../css/variables.css';

.app {
    display: grid;
    grid-template-areas:
        'header-menu header-menu'
        'header header'
        'menu content'
        'footer footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: 0px auto 1fr auto;
    min-height: 100vh;

    &__header {
        grid-area: header;
        background-color: var(--color-background-second);
        border-bottom: 1px solid var(--color-border);
        z-index: 4;
        padding: 8px;
        min-height: 2em;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1em;
        justify-content: stretch;

        @media (max-width: 700px) {
            grid-template-columns: auto 1fr auto;
        }

        a {
            text-decoration: none;
        }

        h1 {
            font-size: 2em;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 50em) {
                font-size: 4vw;
            }

            @media (max-width: 25em) {
                font-size: 1em;
            }
        }
    }

    &__header-menu {
        grid-area: header-menu;
        position: sticky;
        top: 0;
        height: 24px;
        line-height: 24px;
        padding: 0 16px;
        background-color: var(--color-background-second);
        z-index: 3;
        border-bottom: 1px solid var(--color-black);
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__menu {
        grid-area: menu;
        background-color: var(--color-background-second);

        @media (max-width: 700px) {
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100vw;
            z-index: 900;
            padding-top: 1em;
            box-shadow: 0 0 3em rgba(0,0,0,1);
            border-right: 1px solid var(--color-border);
            transition: left .3s;

            .mobile-visible & {
                left: 0;
                transition: left .1s;
            }
        }
    }

    &__menu-close-area {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 899;
        display: none;
        background-color: rgba(0,0,0,.5);

        @media (max-width: 700px) {
            .mobile-visible & {
                display: block;
            }
        }
    }

    &__collapse-menu {
        display: none;
        margin: 4px;
        padding: 4px;
        position: sticky;
        bottom: 1em;

        @media (max-width: 700px) {
            display: block;
        }
    }

    &__menu-toggle {
        display: none;

        & > * {
            height: 100%;
        }

        @media (max-width: 700px) {
            display: block;
        }
    }

    &__menu-link {
        padding: 8px 8px;
    }

    &__menu-link:hover {
        background-color: var(--color-background-prime);
    }

    &__menu-link_current {
        background-color: var(--color-background-accent);
    }

    &__content {
        grid-area: content;
        position: relative;
        overflow-y: scroll;
        padding: 8px;
    }

    &__footer {
        background-color: var(--color-background-second);
        grid-area: footer;
        padding: 8px;
    }

    &__current {
        background-color: var(--color-gray-medium);
    }

    &__scroll-top {
        cursor: pointer;
    }
}
