@import '../../css/variables.css';

.app {
    display: grid;
    grid-template-areas:
        'header-menu header-menu'
        'header header'
        'menu content'
        'footer footer';
    grid-template-columns: auto 1fr;
    grid-template-rows: 0px auto 1fr auto;
    min-height: 100vh;

    &__header {
        grid-area: header;
        // box-shadow: 0 5px 3px black;
        background-color: var(--color-background-second);
        border-bottom: 1px solid var(--color-border);
        z-index: 4;
        padding: 8px;
        display: grid;
        grid-template-columns: 1fr auto;

        a {
            text-decoration: none;
        }
    }

    &__header-menu {
        grid-area: header-menu;
        position: sticky;
        top: 0;
        height: 24px;
        line-height: 24px;
        padding: 0 16px;
        background-color: var(--color-background-second);
        z-index: 3;
        border-bottom: 1px solid var(--color-black);
        display: grid;
        grid-template-columns: 1fr auto;
    }

    &__menu {
        grid-area: menu;
        background-color: var(--color-background-second);
    }

    &__menu-link {
        padding: 4px 8px;
    }

    &__menu-link:hover {
        background-color: var(--color-background-prime);
    }

    &__menu-link_current {
        background-color: var(--color-background-accent);
    }

    &__content {
        grid-area: content;
        position: relative;
        overflow-y: scroll;
        padding: 8px;
    }

    &__footer {
        background-color: var(--color-background-second);
        grid-area: footer;
        padding: 8px;
    }

    &__current {
        background-color: var(--color-gray-medium);
    }

    &__scroll-top {
        cursor: pointer;
    }
}
