.book-box {
    --book-box-color-background: white;
    --book-box-color-background-accent: rgb(221, 236, 255);
    --book-box-color-text: black;
    --book-box-color-text-accent: rgb(100, 0, 0);
    --book-box-color-page: green;
    --book-box-color-shadow: black;
    --book-box-size-text: 1rem;
    --book-box-size-text-small: 0.9rem;
    --book-box-size-offset: 2em;
    --book-box-size-page-column-width: 2em;
    --book-box-size-offset-right: calc(max(var(--book-box-size-offset), var(--book-box-size-page-column-width)));

    color: var(--book-box-color-text);
    background-color: var(--book-box-color-background);
    padding: 16px var(--book-box-size-offset);
    padding-right: var(--book-box-size-offset-right);
    position: relative;
}

.book-box_layout {
    position: relative;

}

.book-box-title {
    text-align: center;
}

.book-box-authors {
    text-align: center;
    padding: 1rem;
}

.book-box-draft {
    display: inline-block;
    border: 5px solid red;
    padding: 2px;
    --yellow: rgb(255, 255, 161);
    --red: rgb(255, 217, 179);
    background-color: var(--yellow);
    color: black;

    background: repeating-linear-gradient(
        -45deg,
        var(--yellow),
        var(--yellow) 20px,
        var(--red) 20px,
        var(--red) 40px
    );
}

.book-box-header {
    /* position: sticky;
    top: 0; */
}

.book-box-label {
    display: inline-block;
}

.book-box-label-mark {
    cursor: pointer;
    text-decoration: underline dotted;
}

.book-box-label-input {
    display: none;
}

.book-box-label-input:checked + label + .book-box-label-data {
    display: grid;
}

.book-box-label-input + label {
    padding: 2px 4px;
    border-radius: 2px;
}

.book-box-label-input:checked + label {
    background: var(--book-box-color-background-accent);
    color: var(--book-box-color-text-accent);
}

.book-box-label-data {
    display: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 1fr auto;
}

.book-box-label-data div {
    max-height: 50vh;
    background-color: var(--book-box-color-background);
    box-shadow: 0 0 10px var(--book-box-color-shadow);
}

.book-box-small {
    font-size: var(--book-box-size-text-small);
}

.book-box-page {
    position: absolute;
    background-color: var(--book-box-color-background);
    color: var(--book-box-color-page);
    font-size: calc(var(--book-box-size-text) * 0.8);
    font-weight: normal;
    font-style: normal;
    font-family: sans-serif;
    line-height: 1.5rem;
    right: 0;
    max-width: var(--book-box-size-offset-right);
    text-align: right;
    padding: 0 8px;
}

.book-box-image {
    margin: 1em 0;
}

.book-box_media-figure {
    margin: 0;
}

.book-box_media-figure-caption {
    text-align: center;
    font-size: 0.9em;
    font-style: italic;
}

.book-box_media-inline {
    display: inline-block;
}

.book-box_media-block {
    display: flex;
}

.book-box_media-center {
    justify-content: center;
}

.book-box_media-start {
    justify-content: flex-start;
}

.book-box_media-end {
    justify-content: flex-end;
}
