.blog {
    &__blog {
        display: grid;
        grid-template-columns: 1fr minmax(auto, 200px);
        grid-template-rows: auto 1fr;
        padding: 8px;

        @media (max-width: 700px) {
            display: block;
        }
    }

    &__new {
        min-height: 20px;
    }

    &__new-mark {
        color: var(--color-text-accent);
        margin-right: 20px;
    }

    &__list {
        & a {
            color: var(--color-text);

            &:hover h3 {
                color: var(--color-text-accent);
            }
        }
    }

    &__tile {
        display: block;
    }

    &__post-card {
        width: 100%;
        text-align: start;
        margin-top: -20px;
    }

    &__image {
        position: relative;
        height: 250px;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        margin: 0 -20px;
        margin-bottom: 16px;
    }

    &__image-opacity {
        background: linear-gradient(
            to bottom,
            transparent,
            transparent 70%,
            var(--color-background-prime)
        );
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__title {
        margin-bottom: 8px;
        & > h3 {
            margin: 0;
            padding: 0;
            hyphens: auto;
            font-size: 1.4em;
        }
    }
    &__time {
        font-size: 0.9em;
        font-style: italic;
    }
    &__tag-panel {
        display: flex;
        white-space: nowrap;
        flex-wrap: wrap;
        align-items: flex-start;
        overflow: auto;

        padding-left: 8px;

        @media (max-width: 700px) {
            padding-left: 0;
            padding-top: 8px;
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
    }
    &__tag {
        display: inline-flex;
        margin: 4px;
        padding: 2px 8px;
        border-radius: 4px;
        font-size: 0.8em;
        background-color: var(--color-background-prime);
        border: 1px solid var(--color-border);
        cursor: pointer;

        &:hover {
            background-color: var(--color-background-second);
        }

        &_active {
            color: var(--color-text-accent);
            background-color: var(--color-background-second);
        }
        &_hidden {
            display: none;
        }

        &[data-tag="typescript"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/typescript.svg");
        }

        &[data-tag="javascript"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/javascript.svg");
        }

        &[data-tag="css"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/css.svg");
        }

        &[data-tag="ruby"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/ruby.svg");
        }

        &[data-tag="svg"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/svg.svg");
        }

        &[data-tag="site"]::before {
            display: inline-block;
            content: "";
            width: 1.1em;
            height: 1.1em;
            margin-right: 4px;
            background-image: url("../../assets/images/logo/nikalexxx.svg");
        }
    }
    &__read-button {
        display: inline-block;
        margin-left: 8px;
    }
}
