.post {
    &__loading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2em;
    }
    &__content {
        line-height: 1.5rem;
        border-radius: 5px;
        margin: 5px;
        padding: 5px 15px;
        max-width: 900px;

        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        * {
            -ms-hyphens: none;
            -webkit-hyphens: none;
            hyphens: none;
        }

        @media (max-width: 700px) {
            padding: 5px;
        }

        pre {
            white-space: pre;
        }

        li {
            margin: 8px 0;
        }

        iframe {
            height: 100%;
            width: 100%;
        }

        & h2,
        h3 {
            color: var(--color-green-light);
        }
    }

    &__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 40px;
        padding: 5px 15px;
        gap: 8px;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 4px;
        padding: 4px;

        background-color: var(--color-background-second);
    }

    &__comments {
        max-width: 900px;
        padding: 5px 15px;
        margin: 5px;
        margin-top: 40px;

        a::before,
        a::after {
            display: none;
        }

        pre {
            margin: 4px 0;
        }
    }

    &__comment {
        margin-top: 16px;
    }

    &__comment-header {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 16px;
    }

    &__comment-date {
        font-size: 0.8em;
        color: var(--color-text-secondary);
    }

    &__user {
        display: inline-flex;
        align-items: center;
    }

    &__user-logo {
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}
