.unicode {
    padding: 16px;

    &__table {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
        border-top: 1px dashed gray;
        border-left: 1px dashed gray;
        text-align: center;
        font-size: 16px;

        & > div {
            vertical-align: middle;
            display: grid;
            grid-template-rows: 20px auto;
            height: 30px;
            max-height: 30px;
            padding-top: 5px;
            border-bottom: 1px dashed gray;
            border-right: 1px dashed gray;

            & > span {
                font-size: 0.4em;
                color: gray;
            }
        }
    }

    &__button-container {
        display: inline-block;
        margin: 1px;
        min-width: 2em;

        & > * {
            width: 100%;
        }
    }

    &__button {
        &_active {
            color: var(--color-text-accent);
        }
    }
}
