.button {
    display: inline-block;
    padding: 3px 6px;
    border-radius: 3px;
    font-size: 1rem;
    color: var(--color-md-link);
    outline: 0;
    border: none;
    background-color: var(--color-atom-button);

    &:hover {
        background-color: var(--color-atom-button-hover);
        cursor: pointer;
    }
    &:active {
        transform: scale(.95);
    }
}
