.book {
    &__bad-external-component {
        color: var(--color-text-accent);
        border: 4px dashed var(--color-text-accent);
        border-radius: 4px;
        padding: 4px 8px;
        margin: 16px 4px;
    }
}
